<!--================Cart Area =================-->
    <section class="order_confirmation_area section_gap" style="margin: 50px">
      <div class="container text-center">
        <h2 class="confirmation_title">Thank You for Your Purchase!</h2>
        <p class="confirmation_message">
          Your order has been successfully placed. You should expect delivery
          within <strong>3 days</strong>.
        </p>
        <img
          src="img/order_confirmed.png"
          alt="Order Confirmed"
          class="confirmation_image"
        />
        <div class="button_container mt-4">
          <form action="home" method="get">
            <button type="submit" class="btn btn-primary" (click)="homeNavigate()">Back to Home</button>
          </form>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->