    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="img/home/perfume-banner.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>MISK for Perfumes</h4>
              <h1> You won't find better than this!</h1>
              <p>Capturing the beauty of nature and luxury in every bottle, our scents are crafted to provide a lasting, unforgettable experience!</p>
              <a class="button button-hero" routerLink="/products">Browse Now!</a>
            </div>
          </div>
        </div>
      </div>
    </section>